.add-location-form {
    background: #fa9843;
    width: 75%;
    padding: 40px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
    border: 2px solid #ce7a30;
    justify-content: center;
    display: flex;
}

.add-location {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Ubuntu';
    padding-top: 25px;
}

form {
    margin: 20px 100px;
    padding: 20px 75px;
    text-align: center;
}

label {
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.place-form__label {
    display: flex;
    flex-direction: row;
    text-align: left;
    /* padding: 0px 0px; */
    margin: 0px 64px;
    flex: 1 1;
}

.place-form__input {
    display: flex;
    flex-direction: row;
    text-align: right;
    flex: 1 1;
}

.place-form__inputs {
    display: flex;
    flex-direction: row;
    flex: 1 1;
}



span {
    color: #af0303
}

.place-form__days {
    display: flex;
    flex-direction: row;
    text-align: left;
    /* padding: 0px 0px; */
    margin: 0px 64px;
    flex: 1 1;
}

.place-form__select {
    border: 1px solid whitesmoke;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    background: whitesmoke;
    justify-content: center;
}

.place-form__select select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.place-form__select select:focus {
    outline: none;
}

button {
    margin-top:10px;
    height: auto;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color:black;
    background: #fd7702;
    border: 0;
    cursor: pointer;
    margin-bottom: 0;
    border-radius:3px;
    padding: 10px 20px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  }

button:hover,
button:active {
    color: #fd7702;
    background: #7a3700;
}

.add-location-form-error-message {
    color: red;
}

@media screen and (min-width: 320px) {
    .place-form__days {
        display: flex;
        flex-direction: column;
        flex: 1 1;
    }
}

@media screen and (min-width: 1600px) {
    .place-form__days {
        display: flex;
        flex-direction: row;
        flex: 1 1;
    }
}