.sidebar-container {
    display: flex;
    width: 100%;
    background: rgb(248, 219, 180);
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
    justify-content: center;
    margin-bottom: 10px;
}

.sidebar-form {
    margin: 10px;
}


.sidebar-form__input, .sidebar-form__submit-button {
    width: 100%;
    margin-top: 25px;
    height: 30px;
    border-radius: 5px;
}

.sidebar-form__submit-button {
    cursor: pointer;
    padding: 0px 0px;
}




@media screen and (min-width: 500px) {

    .sidebar-container {
        width: 23%;
    }
}