.sidebar-container {
    display: flex;
    width: 20%;
    background: rgb(248, 219, 180);
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);;
}

.sidebar-form {
    margin: 10px;
}


.sidebar-form__input, .sidebar-form__submit-button {
    width: 100%;
    margin-top: 25px;
    height: 30px;
    border-radius: 5px;
}

.sidebar-form__submit-button {
    cursor: pointer;
}