.App {
  /* text-align: center; */
  background: #FDC830;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
}

.app__header, .app__footer {
  padding-left: 20px;
  padding-right: 20px;
}

.app__main {
  margin-top: 20px;
}

